# Build artifacts
*.o
*.a
*.so
*.out
*.exe
*.dll

# Make outputs
build/
bin/
obj/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile.in

# Other
*.log
*.tmp
*.tar.gz
*.str
*.vtu
*.dat
*.csv

ParaView-6.1.0-MPI-Linux-Python3.12-x86_64/
